# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode user data and UI state
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Build products and derived data
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Carthage
Carthage/Build/

# Temporary files
*.swp
*.tmp
